# ---------------------------------------------------------------------------
# Пример файла для настройки пути к keystore и пароли для release-подписи.
# ./build-release.sh
# ---------------------------------------------------------------------------

# ru.merrcurys.seacard
merrcurys.storeFile=
merrcurys.storePassword=
merrcurys.keyAlias=
merrcurys.keyPassword=

# com.example.seacard
example.storeFile=
example.storePassword=
example.keyAlias=
example.keyPassword=
