<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".SeaCardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Море карт"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeaCard"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">
        <activity
            android:name=".features.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SeaCard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SeaCard" />
        <activity
            android:name=".features.scan.ScanCardActivity"
            android:exported="false"
            android:theme="@style/Theme.SeaCard" />
        <activity
            android:name=".features.detail.CardDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.SeaCard" />
        <receiver
            android:name=".widget.SeaCardAppWidgetProvider"
            android:exported="true"
            android:label="@string/widget_seacard_label"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_seacard_info" />
        </receiver>
        <service
            android:name=".widget.SeaCardWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>